html{
    font-size: 15px;
    color: #111111;
  }
  
.encabezado{
    background: #111111;
    color: #fff;
    padding: .5rem 0;
}

.encabezado .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.encabezado .logo img{
    width: 75px;
    height: auto;
}


.bienvenidos{
    background: url("../images/fondo.jpg") no-repeat center top;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
}

/*Estilos para el botón menú*/

.boton-menu{
    border: 0;
    font-size: 2.5rem;
    margin: 0;
    padding: 0 .5rem;
    background: transparent;
    color: #fff;
    margin-left: auto;    
  }

  .boton-menu:focus{
    outline: 0;
  }
  

/* Estilos navbar */

#menu-principal{
    background: #111111;
    flex: 1 1 100%;
    margin: 0 auto;
  }
  
  #menu-principal ul{
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
  }
  
  #menu-principal ul a{
    display: block;
    padding: .8rem 0;
    text-transform: uppercase;
    text-decoration: none;
    border-top: .5px solid white;
    color: white;
    text-align: center;
  }
  
  #menu-principal ul a:hover, #menu-principal ul li.active a{
    color: #0D38AD;
  }

  .texto-encabezado{
    margin-top: 4rem;
  }

  .redes-sociales{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: auto;
  }
  .redes-sociales a{
    color: #fff;
    font-size: 3rem;
    margin: 0 .5rem;
    opacity: .7;
    transition: all .5s ease;
  }

  .redes-sociales a:hover{
    opacity: 1;
  }

  /* Medias Queries of Navbar*/

  @media(min-width:768px){
    #menu-principal{
      height: auto !important;
      display: block;
      flex: 0 1 auto;
      margin-left: auto;
    }
  

    #menu-principal ul{
      display: flex;
      margin: 0 0 0 0;
    }
  
    #menu-principal ul li a{
      padding: .8rem;
      text-transform: capitalize;
      margin: 0 .3rem;
      border-top:0px;
      border-bottom: 4px solid transparent;
      transition: all .5s ease;
    }
  
    #menu-principal ul li.active a,
    #menu-principal ul li a:hover{
      border-bottom: 3px solid;
    }

  }

  /* Styles "about me" section */

  .about-me{
    background: #2C4B9F;
    color: #fff;
  }

  .about-me img{
    width: auto;  
    height: 350px;  
  }

  .skills-and-languages .azul{
    color: #0D38AD;
  }

  .skills-and-languages ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }





  /* Estilos projects */

  .my-projects .projects a{
    text-decoration: none;
  }

  .my-projects .projects a h4{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #111111;
  }


  .my-projects .projects .container{
    padding-left: 0;
    padding-right: 0;
  }

  .my-projects .projects .owl-nav{
    display: flex;
    justify-content: center;
    margin: .3rem 0;
  }

  .my-projects .projects .owl-prev,
  .my-projects .projects .owl-next{
    font-size: 3.1rem;
    margin:0 .5rem;
    color: #0D38AD;
    transition: all .5s ease;    
  }

  .my-projects .projects .owl-prev:hover,
  .my-projects .projects .owl-next:hover{
    color: #496CC9;
  }

  .my-projects .btn-secondary {
    color: black;
    border-color: transparent;
    transition: all .5s ease;
  }

  .my-projects .btn-secondary:hover, .btn-primary:focus, .btn-primary:active:hover {
    border-color: transparent;
  }














  /* Pagina Contacto */

  .pagina-contacto .bienvenidos{
    background: #fff;
    background-size: cover;
    height: auto;
    color: black;
    display: block;
  }

  .pagina-contacto .contact a{
    color: #111111;
    font-size: 7rem;
    transition: all .5s ease;
  }

  .pagina-contacto .contact a:hover{
    color: #555555;
  }

  .pagina-contacto .texto-encabezado{
    margin-top: 1rem;
  }


